.container {
	min-width: 100%;
	min-height: 100%;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
	border-radius: 10px;
	padding: 20px;
}

h1 {
	font-size: 35px;
}

@media (max-width: 1500px) {
	::ng-deep table {
		/* table-layout: fixed; */
		max-width: 100% !important;
	}

	.component {
		width: 13vw !important;
	}

	.element {
		width: 13vw !important;
	}

	.details {
		width: 13vw !important;
	}

	.status {
		width: 12vw !important;
	}

	.timestamp {
		width: 10vw !important;
	}

	.edit-button {
		width: 5vw !important;
	}
}

.p-datatable {
	border-radius: 20px;
	overflow: hidden;
	max-width: 1350px;
	margin-top: 10px;
	font-size: 17px;
}

.tag {
	font-size: 15px;
}

::ng-deep .p-tag .pi {
	padding-right: 15px !important;
	font-size: 14px;
}

::ng-deep .input {
	width: 100%;
}

.textarea-input {
	height: 100%;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td,
::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
	height: 9vh; /*↑ increases row height*/
}

.p-datatable th.component,
.p-datatable td.component {
	width: 100px;
	max-width: 100px;
	text-align: center;
}

.p-datatable td.component,
.p-datatable td.element,
.p-datatable td.details,
.p-datatable td.status {
	border-right: 1px solid #dee2e6;
}

.component-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.p-datatable .element {
	/* border: 1px solid black; */
	width: 100px;
	max-width: 100px;
	text-align: center;
}

.p-datatable th.details {
	/* border: 1px solid black; */
	text-align: center;
	width: 150px;
	max-width: 150px;
}

.p-datatable td.details {
	width: 150px;
	max-width: 150px;
	overflow-wrap: anywhere;
}

.p-datatable .status {
	/* border: 1px solid black; */
	text-align: center;
	width: 80px;
	max-width: 80px;
}

::ng-deep .p-datatable .timestamp {
	/* border: 1px solid black; */
	text-align: center;
	width: 80px;
	max-width: 80px;
}

.p-datatable .edit-button {
	/* border: 1px solid black; */
	text-align: center;
	width: 45px;
	max-width: 45px;
}

::ng-deep .p-datatable .edit-button .p-button .p-button-icon {
	font-size: 17px !important;
	border: none;
}

::ng-deep .p-datatable .edit-button .p-button {
	background-color: transparent;
	transition: none; /* Prevent flash on border color change*/
	width: 40px;
	height: 40px;
	box-shadow: 1px 1px 0px 1px black;
	border: 0.5px solid black;
}

::ng-deep .p-datatable .edit-button .p-button:hover {
	background-color: rgb(222, 222, 222);
}

@media (max-width: 1200px) {
	.hide-on-mobile {
		display: none;
	}

	h1 {
		font-size: 25px;
	}

	::ng-deep table {
		font-size: 15px;
	}

	.container {
		font-size: 13px;
	}

	.tag {
		font-size: 13px;
	}

	.details {
		min-width: 15vw !important;
	}

	.status {
		min-width: 15vw !important;
	}

	.timestamp {
		min-width: 15vw !important;
	}
}

@media (max-width: 840px) {
	.component {
		min-width: 150px !important;
	}

	.element {
		min-width: 140px !important;
	}

	.details {
		min-width: 160px !important;
	}

	.status {
		min-width: 130px !important;
	}

	.p-datatable th.status {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-right: 0px !important;
	}

	.timestamp {
		min-width: 140px !important;
	}

	.tag {
		font-size: 11px;
	}

	::ng-deep .p-tag .pi {
		font-size: 12px;
	}

	::ng-deep .p-paginator-current {
		display: none !important;
	}
}

.edit-button-group {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.tag-debug-success {
	padding-left: 10px;
	padding-right: 10px;
	border: 1.5px solid red;
}

/* Change font size of "Showing x to y of z" */
::ng-deep .p-datatable .p-paginator .p-paginator-current {
	font-size: 16px; /* adjust as needed */
}

.status-filter {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.4rem;
}

.status-filter .p-tag {
	cursor: pointer;
	opacity: 1;
}

.status-filter .p-tag:hover {
	box-shadow: 0 0 0 1px currentColor;
}

.status-filter .p-tag.selected {
	box-shadow: 0 0 2px 2px currentColor;
}

.clear-tag {
	width: 100%;
	margin: 15px 0 0 0;
	cursor: pointer;
}

.clear-tag:hover {
	box-shadow: 0 0 0 1px currentColor;
	background-color: rgb(220, 218, 218);
}
