<p-dialog
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	(onHide)="onDialogClosed()"
	styleClass="add-dialog">
	<!-- #header -->
	<ng-template #header>
		<div>
			<p-avatar
				image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
				shape="circle"
				styleClass="avatar" />
			<span>Amy Elsner</span>
		</div>
	</ng-template>
	<span class="dialog-title">New movie details</span>
	<form id="addMovieForm" #addMovieForm="ngForm" (ngSubmit)="onSubmit()" class="form-grid">
		<div class="form-row">
			<label for="movieName">Name</label>
			<input pInputText name="movieName" ngModel id="movieName" autocomplete="off" required />
		</div>
		<div class="form-row">
			<label for="years">Year</label>
			<!-- name is used to register control inside ngForm, used to track its value, validation status, errors etc. -->
			<!-- id is used to link a <label> to the input -->
			<!-- for inside <label> uses id to focus on the input when clicked -->
			<!-- optionLabel tells which property(element) in [options] to display in the dropdown -->
			<!-- ngModel is used to register the current field to the form -->
			<!-- [ngModel]="movieName" is used to bind the value of the current field to a variable in the ts file -->
			<!-- #movieName="ngModel" is used to create a local variable that references the ngModel directive so that we can access control state (value, validation status, errors etc.) for this specific control -->
			<p-select
				[options]="years"
				name="years"
				id="years"
				ngModel
				optionLabel="year"
				[appendTo]="'body'"
				class="year-dropdown"
				required></p-select>
		</div>
		<div class="form-row">
			<label for="genres">Genre</label>
			<p-select
				[options]="genres"
				name="genres"
				id="genres"
				ngModel
				optionLabel="genre"
				[appendTo]="'body'"
				class="genre-dropdown"
				required></p-select>
		</div>
		<div class="form-row">
			<label for="id">ID</label>
			<input pInputText name="id" ngModel id="id" autocomplete="off" required />
		</div>
	</form>
	<!-- overlay inside the dialog when loading -->
	<div *ngIf="isLoading" class="loading-overlay">
		<p-progressbar mode="indeterminate" [style]="{ height: '8px' }" />
	</div>
	<!-- #footer -->
	<ng-template #footer>
		<p-button
			label="Search"
			type="button"
			[outlined]="true"
			severity="secondary"
			[attr.form]="'addMovieForm'"
			[disabled]="addMovieForm.invalid"
			(click)="searchCurrentMovie(addMovieForm.value)" />
		<p-button
			label="Cancel"
			type="button"
			[outlined]="true"
			severity="secondary"
			(click)="onDialogClosed()" />
		<button
			label="Submit"
			type="submit"
			pButton
			[outlined]="true"
			severity="secondary"
			[attr.form]="'addMovieForm'"></button>
	</ng-template>
</p-dialog>
