.container {
	max-width: 100%;
	height: 100%;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
	border-radius: 10px;
	padding: 20px;
}

@media (max-width: 1400px) {
	::ng-deep .table table {
		/* table-layout: fixed; */
		max-width: inherit !important;
	}

	.component {
		width: 10vw !important;
	}

	.element {
		width: 10vw !important;
	}

	.details {
		width: 20vw !important;
	}

	.status {
		width: 13vw !important;
	}

	.timestamp {
		width: 10vw !important;
	}
}

::ng-deep .table table {
	border-radius: 20px;
	overflow: hidden;
	max-width: 1400px;
}

::ng-deep .p-datatable .component {
	width: 170px;
}

::ng-deep .p-datatable .element {
	width: 170px;
}

::ng-deep .p-datatable .details {
	width: 340px;
}

::ng-deep .p-datatable .status {
	width: 170px;
}

::ng-deep .p-datatable .timestamp {
	width: 170px;
}

@media (max-width: 1052px) {
	.hide-on-mobile {
		display: none;
	}

	h1 {
		font-size: 25px;
	}

	.container {
		font-size: 13px;
	}

	::ng-deep .table table {
		table-layout: auto !important;
	}
}
