<div class="container">
	<h1>PATCH NOTES</h1>
	<p-table
		[value]="(patchNotes$ | async) ?? []"
		[loading]="loading"
		[showLoader]="false"
		rowGroupMode="rowspan"
		groupRowsBy="component"
		class="table">
		<ng-template pTemplate="header">
			<tr>
				<th class="component">Component</th>
				<th class="element">Element</th>
				<th class="details">Details</th>
				<th class="status">Status</th>
				<th class="timestamp">TimeStamp</th>
				<th class="edit-button hide-on-mobile">Edit</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody">
			@for(_ of skeletonRows;track $index){
			<tr>
				<td height="9vh"><p-skeleton /></td>
				<td height="9vh"><p-skeleton /></td>
				<td height="9vh"><p-skeleton /></td>
				<td height="9vh"><p-skeleton /></td>
				<td height="9vh"><p-skeleton /></td>
				<td height="9vh"><p-skeleton /></td>
			</tr>
			}
		</ng-template>
		<ng-template pTemplate="body" let-row let-rowgroup="rowgroup" let-rowspan="rowspan">
			<tr>
				@if(rowgroup){
				<td [attr.rowspan]="rowspan" class="component">{{ row.component }}</td>
				}

				<td class="element">
					@if(editedRows.has(row.key)){
					<input
						pInputText
						[(ngModel)]="editedRows.get(row.key).updated.element"
						class="input"
						(keyup.enter)="completeEdit(row)" />
					} @else{
					{{ row.element }}
					}
				</td>

				<td class="details">
					@if(editedRows.has(row.key)){
					<textarea
						pTextarea
						variant="filled"
						fluid
						[(ngModel)]="editedRows.get(row.key).updated.details"
						class="input textarea-input"
						(keyup.enter)="completeEdit(row)"></textarea>
					} @else{
					{{ row.details }}
					}
				</td>

				<td class="status">
					@if(editedRows.has(row.key)){
					<p-select
						optionLabel="severity"
						optionValue="severity"
						[options]="severity"
						[appendTo]="'body'"
						panelStyleClass="dropdown-panel-font"
						[(ngModel)]="editedRows.get(row.key).updated.status"
						class="input"
						(keyup.enter)="completeEdit(row)" />
					} @else {
					<p-tag [value]="row.status" [severity]="getSeverity(row.status)" class="tag"></p-tag>
					}
				</td>

				<td class="timestamp">{{ row.timestamp }}</td>

				<td class="edit-button hide-on-mobile">
					@if(editedRows.has(row.key)){
					<div class="edit-button-group">
						<p-button
							severity="secondary"
							icon="pi pi-check"
							rounded="true"
							(click)="completeEdit(row)"></p-button>
						<p-button
							severity="secondary"
							icon="pi pi-trash"
							rounded="true"
							(click)="openDeleteConfirmationDialog(row.key)"></p-button>
					</div>
					} @else {
					<p-button
						severity="secondary"
						icon="pi pi-pen-to-square"
						rounded="true"
						(click)="startEdit(row)"></p-button>
					}
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="footer">
			<tr class="hide-on-mobile">
				<td class="component">
					<input
						pInputText
						type="text"
						placeholder="Component"
						[(ngModel)]="newRecord.component"
						class="input"
						(keyup.enter)="submitNewRecord()" />
				</td>
				<td class="element">
					<input
						pInputText
						type="text"
						placeholder="Element"
						[(ngModel)]="newRecord.element"
						class="input"
						(keyup.enter)="submitNewRecord()" />
				</td>
				<td class="details">
					<textarea
						pTextarea
						variant="filled"
						fluid
						placeholder="Details"
						[(ngModel)]="newRecord.details"
						class="input textarea-input"
						(keyup.enter)="submitNewRecord()">
					</textarea>
				</td>
				<td class="status">
					<p-select
						optionLabel="severity"
						[options]="severity"
						[appendTo]="'body'"
						panelStyleClass="dropdown-panel-font"
						[(ngModel)]="newRecord.status"
						class="input"
						(keyup.enter)="submitNewRecord()" />
				</td>
				<td class="timeStamp" colspan="2">
					<p-button
						label="Add"
						icon="pi pi-plus"
						severity="secondary"
						[disabled]="
							!newRecord.component.trim() ||
							!newRecord.details.trim() ||
							!newRecord.element.trim() ||
							!newRecord.status
						"
						(onClick)="submitNewRecord()"
						styleClass="input"></p-button>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
<ng-container #dialogComponentContainer></ng-container>
