.container {
	min-width: 100%;
	min-height: 100%;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
	border-radius: 10px;
	padding: 20px;
}

@media (max-width: 1500px) {
	::ng-deep .table table {
		/* table-layout: fixed; */
		max-width: 100% !important;
	}

	.component {
		width: 13vw !important;
	}

	.element {
		width: 13vw !important;
	}

	.details {
		width: 13vw !important;
	}

	.status {
		width: 10vw !important;
	}

	.timestamp {
		width: 10vw !important;
	}

	.edit-button {
		width: 5vw !important;
	}
}

::ng-deep .table table {
	border-radius: 20px;
	overflow: hidden;
	max-width: 1500px;
	margin-top: 10px;
}

::ng-deep .p-datatable .component {
	/* border: 1px solid black; */
	width: 130px;
	max-width: 130px;
	text-align: center;
}

::ng-deep .p-datatable .element {
	/* border: 1px solid black; */
	width: 130px;
	max-width: 130px;
	text-align: center;
}

::ng-deep .p-datatable th.details {
	/* border: 1px solid black; */
	text-align: center;
}

::ng-deep .input {
	width: 100%;
}

::ng-deep .p-datatable td.details {
	/* border: 1px solid black; */
	width: 130px;
	max-width: 130px;
	overflow: hidden;
}

::ng-deep .p-datatable .status {
	/* border: 1px solid black; */
	text-align: center;
	width: 100px;
	max-width: 100px;
}

::ng-deep .p-datatable .timestamp {
	/* border: 1px solid black; */
	text-align: center;
	width: 100px;
	max-width: 100px;
}

::ng-deep .p-datatable .edit-button {
	/* border: 1px solid black; */
	text-align: center;
	width: 50px;
	max-width: 50px;
	padding: 10px;
}

@media (max-width: 1200px) {
	.hide-on-mobile {
		display: none;
	}

	h1 {
		font-size: 25px;
	}

	.container {
		font-size: 13px;
	}

	.tag {
		font-size: 12px;
	}
}
