<div class="container">
	<h1>PATCH NOTES</h1>
	<p-table
		[value]="patchNotes"
		[loading]="loading"
		[showLoader]="false"
		rowGroupMode="rowspan"
		groupRowsBy="component"
		class="table">
		<ng-template pTemplate="header">
			<tr>
				<th class="component">Component</th>
				<th class="element">Element</th>
				<th class="details">Details</th>
				<th class="status">Status</th>
				<th class="timestamp">TimeStamp</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody">
			<tr>
				<td><p-skeleton /></td>
				<td><p-skeleton /></td>
				<td><p-skeleton /></td>
				<td><p-skeleton /></td>
				<td><p-skeleton /></td>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-row let-rowgroup="rowgroup" let-rowspan="rowspan">
			<tr>
				@if(rowgroup){
				<td [attr.rowspan]="rowspan" class="component">{{ row.component }}</td>
				}
				<td class="element">{{ row.element }}</td>
				<td class="details">{{ row.details }}</td>
				<td class="status">
					<p-tag [value]="row.status" [severity]="getSeverity(row.status)"></p-tag>
				</td>
				<td class="timestamp">{{ row.timeStamp }}</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="footer">
			<tr class="hide-on-mobile">
				<td>
					<input pInputText type="text" placeholder="Component" class="component" />
				</td>
				<td>
					<input pInputText type="text" placeholder="Element" class="element" />
				</td>
				<td>
					<input pInputText type="text" placeholder="Details" class="details" />
				</td>
				<td>
					<p-select
						Button
						optionLabel="severity"
						[options]="severity"
						class="status"
						[appendTo]="'body'"
						panelStyleClass="dropdown-panel-font" />
				</td>
				<td>
					<p-button label="Add" icon="pi pi-plus" severity="secondary" class="timeStamp"></p-button>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
