<div class="container">
	<h1>PATCH NOTES</h1>
	<p-table
		#t
		[value]="(patchNotes$ | async) ?? []"
		[paginator]="true"
		[rows]="itemsPerPage"
		[first]="indexOfFirstItem"
		[showCurrentPageReport]="!isMobile"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
		[showFirstLastIcon]="true"
		[showPageLinks]="!isMobile"
		[loading]="loading"
		[showLoader]="false"
		(onPage)="pageChange($event)">
		<ng-template pTemplate="header">
			<tr>
				<th class="component">Component</th>
				<th class="element">Element</th>
				<th class="details">Details</th>
				<th class="status">
					Status
					<p-columnFilter
						class="column-filter"
						#columnFilter
						display="menu"
						field="status"
						matchMode="equals"
						[showOperator]="false"
						[showMatchModes]="false"
						[showAddButton]="false"
						[showApplyButton]="false"
						[showClearButton]="false">
						<ng-template #filter let-value let-filter="filterCallback">
							<div class="status-filter">
								@for (s of allSeverity; track s.severity) {
									<p-tag
										[value]="s.severity"
										[icon]="getSeverityIcon(s.severity)"
										[severity]="getSeverity(s.severity)"
										[class.selected]="value === s.severity"
										(click)="filter(s.severity)">
									</p-tag>
								}
							</div>
							<!-- Custom clear -->
							<p-tag
								value="Clear Filter"
								icon="pi pi-times"
								severity="secondary"
								class="clear-tag"
								(click)="filter(null); columnFilter.hide()">
							</p-tag>
						</ng-template>
					</p-columnFilter>
				</th>
				<th class="timestamp">TimeStamp</th>
				<th class="edit-button hide-on-mobile">Edit</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody">
			@for (_ of skeletonRows; track $index) {
				<tr>
					<td><p-skeleton /></td>
					<td><p-skeleton /></td>
					<td><p-skeleton /></td>
					<td><p-skeleton /></td>
					<td><p-skeleton /></td>
					@if (!isMobile) {
						<td><p-skeleton /></td>
					}
				</tr>
			}
		</ng-template>
		<ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
			@if (!row.__dummy) {
				<tr>
					@if (shouldShowComponent(getRenderedData(t), rowIndex)) {
						<td
							[attr.rowspan]="getComponentRowSpan(getRenderedData(t), rowIndex)"
							class="component">
							<div class="component-content">
								@if (row.component === 'Entertainment') {
									<span class="material-icons hide-on-mobile">tv</span>
								} @else if (row.component === 'Home') {
									<span class="material-icons hide-on-mobile">home</span>
								} @else if (row.component === 'Patch Notes') {
									<span class="material-symbols-outlined hide-on-mobile">note_stack</span>
								} @else if (row.component === 'Login') {
									<span class="pi pi-user hide-on-mobile"></span>
								} @else if (row.component === 'Remainder') {
									<span class="material-symbols-outlined hide-on-mobile">priority</span>
								} @else if (row.component === 'About') {
									<span class="material-symbols-outlined hide-on-mobile">info</span>
								}
								<span>{{ row.component }} </span>
							</div>
						</td>
					}
					@if (shouldShowElement(getRenderedData(t), rowIndex)) {
						<td [attr.rowspan]="getElementRowSpan(getRenderedData(t), rowIndex)" class="element">
							<!-- This one is not needed as we are not updating the element name -->
							<!-- @if(editedRows.has(row.key)){
                            <input
                                pInputText
                                [(ngModel)]="editedRows.get(row.key).updated.element"
                                class="input"
                                (keyup.enter)="completeEdit(row)" />
                            } @else{ -->
							{{ row.element }}

							<!-- } -->
						</td>
					}

					<td class="details">
						@if (editedRows.has(row.key)) {
							<textarea
								pTextarea
								variant="filled"
								fluid
								[(ngModel)]="editedRows.get(row.key).updated.details"
								class="input textarea-input"
								(keyup.enter)="completeEdit(row)"></textarea>
						} @else {
							{{ row.details }}
						}
					</td>

					<td class="status">
						@if (editedRows.has(row.key)) {
							<p-select
								optionLabel="severity"
								optionValue="severity"
								[options]="editedRows.get(row.key).original.isBug ? bugSeverity : severity"
								[appendTo]="'body'"
								panelStyleClass="dropdown-panel-font"
								[(ngModel)]="editedRows.get(row.key).updated.status"
								class="input"
								(keyup.enter)="completeEdit(row)" />
						} @else {
							<p-tag
								[value]="row.status"
								[icon]="getSeverityIcon(row.status)"
								[severity]="getSeverity(row.status)"
								[class]="getSeverityClass(row.status)"
								class="tag"></p-tag>
						}
					</td>

					<td class="timestamp">{{ row.timestamp }}</td>

					<td class="edit-button hide-on-mobile">
						@if (editedRows.has(row.key)) {
							<div class="edit-button-group">
								<p-button
									severity="secondary"
									icon="pi pi-check"
									rounded="true"
									(click)="completeEdit(row)"></p-button>
								<p-button
									severity="secondary"
									icon="pi pi-trash"
									rounded="true"
									(click)="openDeleteConfirmationDialog(row.key)"></p-button>
							</div>
						} @else {
							<p-button
								severity="secondary"
								icon="pi pi-pen-to-square"
								rounded="true"
								(click)="startEdit(row)"></p-button>
						}
					</td>
				</tr>
			}
		</ng-template>
		<ng-template pTemplate="footer">
			@if (!loading && t.first && t.rows && t.first + t.rows > t.totalRecords - 1) {
				<tr class="hide-on-mobile">
					<td class="component">
						<input
							pInputText
							type="text"
							placeholder="Component"
							[(ngModel)]="newRecord.component"
							class="input"
							(keyup.enter)="submitNewRecord()" />
					</td>
					<td class="element">
						<input
							pInputText
							type="text"
							placeholder="Element"
							[(ngModel)]="newRecord.element"
							class="input"
							(keyup.enter)="submitNewRecord()" />
					</td>
					<td class="details">
						<textarea
							pTextarea
							variant="filled"
							fluid
							placeholder="Details"
							[(ngModel)]="newRecord.details"
							class="input textarea-input"
							(keyup.enter)="submitNewRecord()"></textarea>
					</td>
					<td class="status">
						<p-select
							optionLabel="severity"
							[options]="newRecord.isBug ? bugSeverity : severity"
							[appendTo]="'body'"
							panelStyleClass="dropdown-panel-font"
							[(ngModel)]="newRecord.status"
							class="input"
							(keyup.enter)="submitNewRecord()" />
					</td>
					<td class="timeStamp">
						<p-button
							label="Add"
							icon="pi pi-plus"
							severity="secondary"
							[disabled]="
								!newRecord.component.trim() ||
								!newRecord.details.trim() ||
								!newRecord.element.trim() ||
								!newRecord.status
							"
							(onClick)="submitNewRecord()"
							styleClass="input"></p-button>
					</td>
					<td class="edit-button">
						<p-check-box
							[(ngModel)]="newRecord.isBug"
							[binary]="true"
							(onChange)="clearStatusField()"></p-check-box>
					</td>
				</tr>
			}
		</ng-template>
	</p-table>
	<ng-container #dialogComponentContainer></ng-container>
</div>
