.container {
	min-width: 100%;
	min-height: 100%;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
	border-radius: 10px;
	padding: 20px;
}

h1 {
	font-size: 35px;
}

@media (max-width: 1500px) {
	::ng-deep .table table {
		/* table-layout: fixed; */
		max-width: 100% !important;
	}

	.component {
		width: 13vw !important;
	}

	.element {
		width: 13vw !important;
	}

	.details {
		width: 13vw !important;
	}

	.status {
		width: 12vw !important;
	}

	.timestamp {
		width: 10vw !important;
	}

	.edit-button {
		width: 5vw !important;
	}
}

.wrapper {
	border-radius: 20px;
	background-color: white;
}

::ng-deep .table table {
	border-radius: 20px;
	overflow: hidden;
	max-width: 1500px;
	margin-top: 10px;
	font-size: 17px;
}

.tag {
	font-size: 15px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td,
:host ::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
	height: 9vh; /*↑ increases row height*/
}

::ng-deep .p-datatable .component {
	/* border: 1px solid black; */
	width: 130px;
	max-width: 130px;
	text-align: center;
}

::ng-deep .component-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

::ng-deep .p-datatable .element {
	/* border: 1px solid black; */
	width: 130px;
	max-width: 130px;
	text-align: center;
}

::ng-deep .p-datatable th.details {
	/* border: 1px solid black; */
	text-align: center;
}

::ng-deep .input {
	width: 100%;
}

::ng-deep .textarea-input {
	height: 100%;
}

::ng-deep .p-datatable td.details {
	/* border: 1px solid black; */
	width: 130px;
	max-width: 130px;
	overflow-wrap: anywhere;
}

::ng-deep .p-datatable .status {
	/* border: 1px solid black; */
	text-align: center;
	width: 100px;
	max-width: 100px;
}

::ng-deep .p-datatable .timestamp {
	/* border: 1px solid black; */
	text-align: center;
	width: 100px;
	max-width: 100px;
}

::ng-deep .p-datatable .edit-button {
	/* border: 1px solid black; */
	text-align: center;
	width: 45px;
	max-width: 45px;
}

::ng-deep .p-datatable .edit-button .p-button .p-button-icon {
	font-size: 17px !important;
	border: none;
}

::ng-deep .p-datatable .edit-button .p-button {
	background-color: transparent;
	transition: none; /* Prevent flash on border color change*/
	width: 40px;
	height: 40px;
	box-shadow: 1px 1px 0px 1px black;
	border: 0.5px solid black;
}

::ng-deep .p-datatable .edit-button .p-button:hover {
	background-color: rgb(222, 222, 222);
}

@media (max-width: 1200px) {
	.hide-on-mobile {
		display: none;
	}

	h1 {
		font-size: 25px;
	}

	::ng-deep .table table {
		font-size: 15px;
	}

	.container {
		font-size: 13px;
	}

	.tag {
		font-size: 13px;
	}

	.details {
		min-width: 30vw !important;
	}

	.timestamp {
		min-width: 30vw !important;
	}
}

.edit-button-group {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
