<p-dialog
	[(visible)]="visible"
	[modal]="true"
	appendTo="body"
	[resizable]="false"
	[closable]="false"
	(onHide)="onDialogClosed()"
	styleClass="link-dialog">
	<ng-template #header>
		<span class="link-dialog-title">{{
			isEditMode ? PORTAL_DIALOG_TITLE_EDIT_LINK : PORTAL_DIALOG_TITLE_ADD_LINK
		}}</span>
	</ng-template>

	@if (!isEditMode) {
		<div class="link-dialog-field link-dialog-field-checkbox">
			<input
				type="checkbox"
				id="linkDialogIsShared"
				class="link-dialog-checkbox"
				[(ngModel)]="isShared" />
			<label for="linkDialogIsShared" class="link-dialog-label link-dialog-label-checkbox">
				{{ PORTAL_LABEL_SHARED_LINK }}
			</label>
		</div>
	}

	<div class="link-dialog-field">
		<span class="link-dialog-label">{{ ADD_LINK_LABEL_URL }}</span>
		<input
			type="url"
			[(ngModel)]="url"
			[placeholder]="ADD_LINK_PLACEHOLDER_URL"
			autocomplete="off"
			(keyup.enter)="onUrlConfirm()"
			(blur)="onUrlConfirm()" />
	</div>

	@if (faviconPreview) {
		<div class="link-dialog-favicon-preview">
			<img [src]="faviconPreview" alt="Site icon" class="link-dialog-favicon-image" />
			<span class="link-dialog-favicon-label">{{ title || LINK_DIALOG_LABEL_TITLE_LOADING }}</span>
		</div>
	}

	<div class="link-dialog-field">
		<span class="link-dialog-label">
			Title *
			@if (metaLoading) {
				<span class="link-dialog-meta-loading">{{ ADD_LINK_LABEL_LOADING }}</span>
			}
		</span>
		<input
			type="text"
			[(ngModel)]="title"
			[placeholder]="ADD_LINK_PLACEHOLDER_NAME"
			autocomplete="off" />
	</div>

	<div class="link-dialog-field">
		<span class="link-dialog-label">
			{{ isShared ? ADD_LINK_LABEL_CATEGORY_OPTIONAL : ADD_LINK_LABEL_CATEGORY }}
			@if (isEditMode && isShared) {
				<span class="link-dialog-field-hint">{{ ADD_LINK_HINT_CATEGORY_SHARED }}</span>
			}
		</span>
		<p-select
			[options]="categories"
			optionLabel="name"
			optionValue="_id"
			[appendTo]="'body'"
			[disabled]="isShared"
			[placeholder]="ADD_LINK_PLACEHOLDER_CATEGORY"
			panelStyleClass="dropdown-panel-font"
			[(ngModel)]="category" />
	</div>

	<div class="link-dialog-field link-dialog-field-checkbox">
		<input
			type="checkbox"
			id="linkDialogIsPinned"
			class="link-dialog-checkbox"
			[(ngModel)]="isPinned" />
		<label for="linkDialogIsPinned" class="link-dialog-label link-dialog-label-checkbox">
			{{ PORTAL_LABEL_PIN_TO_DASHBOARD }}
		</label>
	</div>

	<ng-template #footer>
		<button class="link-dialog-button-ghost" (click)="onDialogClosed()">
			{{ DIALOG_BTN_CANCEL }}
		</button>
		<button class="link-dialog-button-gradient" [disabled]="!isValid" (click)="onSubmit()">
			{{ isEditMode ? DIALOG_BTN_SAVE : LABEL_ADD_LINK }}
		</button>
	</ng-template>
</p-dialog>
