<p-dialog
	header="Searching latest rate for each movie..."
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	[resizable]="false"
	[closable]="false"
	styleClass="dialog"
	(onHide)="onDialogClosed()">
	<div class="logs" #logContainer>
		@for (searchLog of searchLogs; track $index) {
		<div [innerHTML]="searchLog"></div>
		}
	</div>
	<ng-template #footer>
		<p-button
			[label]="searchingCompleteOrInterrupted ? 'DONE' : 'STOP'"
			type="button"
			class="submit-button"
			[severity]="searchingCompleteOrInterrupted ? 'success' : 'danger'"
			(click)="
				searchingCompleteOrInterrupted ? onDialogClosed() : triggerStopSearching()
			"></p-button> </ng-template
></p-dialog>
