::ng-deep .dialog {
	width: 600px;
	height: 300px;
	user-select: none;
}

@media (max-width: 580px) {
	::ng-deep .dialog {
		min-width: 100% !important;
		min-height: 100% !important;
		border-radius: 0px !important;
	}
}
