<div class="form-container">
	<div class="word-container">
		<div>
			<h1 class="title">VISION CANVAS</h1>
		</div>
		<div>
			<h2 class="word">恭喜你找到了非常隐秘的小树洞</h2>
			<h5 class="en-word">Welcome to the very hidden kingdom</h5>
		</div>
		<div>
			<h2 class="word">一个可以回到过去的神秘领域</h2>
			<h5 class="en-word">a mysterious place where you can go back in time</h5>
		</div>
	</div>
	<form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
		<p-iftalabel class="input-field-container">
			<input
				class="input-field"
				pInputText
				type="text"
				id="username"
				formControlName="username"
				[invalid]="isInvalid('username')" />
			<label for="username">Username</label>
			@if (isInvalid('username')) {
			<p-message severity="error" size="small" variant="simple">Username is required.</p-message>
			}
		</p-iftalabel>
		<p-iftalabel class="input-field-container">
			<input
				class="input-field"
				pInputText
				type="password"
				id="password"
				formControlName="password"
				[invalid]="isInvalid('password')" />
			<label for="username">Password</label>
			@if (isInvalid('password')) { @if (exampleForm.get('password')?.errors?.['required']) {
			<p-message severity="error" size="small" variant="simple">Password is required.</p-message>
			} }
		</p-iftalabel>
		<button class="login-button" pButton severity="secondary" type="submit">
			<span pButtonLabel>Submit</span>
		</button>
	</form>
</div>
