:host {
	--individual-item-width: 420px;
	--individual-item-gap: 13px;
}

.page-container {
	margin-bottom: 10px;
}

.access-denied-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Control Button */
.control-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.control-button-title {
	font-size: 23px;
	font-weight: bold;
	padding-bottom: 10px;
	margin: 10px;
}

.control-button {
	color: white !important;
	backdrop-filter: blur(10px);
	background: rgba(145, 89, 180, 0.5);
	height: 38px;
	bottom: 4px;
	width: 100px;
}

.control-button-icon {
	font-size: 30px;
	position: relative;
	left: 10px;
}

/* Category Button */
.category-button-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
	gap: 10px;
}

.category-button {
	height: 65px;
	border: 1.5px solid black;
	border-radius: 10px;
	margin-right: 15px;
	padding-top: 6px;
	padding-left: 15px;
	cursor: pointer;
}

.category-button span:nth-of-type(1) {
	padding-left: 10px;
}

.category-button span:nth-of-type(2) {
	display: flex;
	align-items: center;
	padding-left: 10px;
	& p:nth-of-type(2) {
		position: relative;
		padding-left: 10px;
	}
}

.selected-category {
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 5px 5px 10px rgb(238, 240, 243);
	backdrop-filter: blur(10px);
}

.category-text {
	font-family: 'cf';
	font-size: 17px;
}

.category-count {
	font-size: 15px;
	font-weight: bold;
}

/* Content Container */
.content-container {
	display: grid;
	/* grid-auto-flow: dense; */
	gap: var(--individual-item-gap);
}

.individual-item {
	min-width: var(--individual-item-width);
	max-width: var(--individual-item-width);
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 3px 3px 10px rgb(238, 240, 243);
	backdrop-filter: blur(10px);
	margin-bottom: 10px;
	display: flex;
	overflow: visible;
}

.individual-item:hover {
	border: none;
	box-shadow: none;

	& .rate {
		background: white;
		color: black;
	}
}

.individual-item::before {
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	z-index: -1;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 20px;
}

.individual-item:hover::before {
	width: 100%;
}

.individual-item.very-high-rate::before,
.individual-item.very-high-rate .rate {
	background: linear-gradient(-45deg, #e21f1f 0%, #e21f1f 100%);
}

.individual-item.high-rate::before,
.individual-item.high-rate .rate {
	background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
}

.individual-item.medium-rate::before,
.individual-item.medium-rate .rate {
	background: linear-gradient(-45deg, #e8c602 0%, #e47a00 100%);
}

.individual-item.low-rate::before,
.individual-item.low-rate .rate {
	background: linear-gradient(-45deg, #c5e50d 0%, #e8c602 100%);
}

.image-container {
	width: 180px;
	height: 285px;
	margin: 10px;

	/* Stretch the image to the container */
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;

	/* -webkit-box-shadow: 0 0 5px #000; */
	box-shadow: 0 0 8px black;

	/* Make sure only image gets blurred */
	position: relative;
}

.image-container::before {
	content: '';
	position: absolute;
	inset: 0; /* top:0; bottom:0; left:0; right:0 */
	background-image: inherit; /* 👈 THIS IS THE KEY */
	background-size: 100% 100%;
	background-position: center;
	filter: blur(10px);
	opacity: 0; /* hidden by default */
	transition: opacity 0.3s ease;
	z-index: 1; /* behind the text */
}

/* Optional: dark overlay */
.image-container::after {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.723);
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 10px;
	z-index: 2;
}

.text-on-image {
	font-family: 'cf';
	position: absolute; /* 🔑 REQUIRED */
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: white;
	z-index: 3; /* above blur */
	opacity: 0; /* hidden by default */
	transition: opacity 0.3s ease;
	pointer-events: none;
	word-break: break-word;
	font-size: 15px;
	padding: 5px;
}

.image-container:hover::before,
.image-container:hover::after,
.image-container:hover .text-on-image {
	opacity: 1;
	inset: -20px; /* extend 30px in all directions */
}

.individual-item-content {
	width: 200px;
	height: 100%;

	display: flex;
	flex-direction: column;
	letter-spacing: 3px;
	row-gap: 10px;
	margin: 10px;
	border-radius: 10px;

	background: transparent;
	color: black;
	transition: all 0.5s;
}

.title {
	font-family: 'cf';
	white-space: nowrap;
	margin-top: 10px;
	margin-bottom: 10px;
	/* transform: translateY(15px); */
	/* transition: all 0.7s; */
}

.text {
	font-family: 'cf';
	font-size: 17px;
	display: flex;
	flex-direction: row;
	/* transform: translateY(10px); */
	/* transition: all 0.7s; */
}

.rate {
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: white;
}

.delete-button {
	position: absolute;
	top: 250px;
	right: 20px;
}

::ng-deep .delete-button .p-button-icon {
	color: white;
}

/* The max-width here is the **current** maximum width of the browser */
@media (max-width: 840px) {
	.control-button-title {
		font-size: 22px;
	}

	.control-button {
		position: relative;
		right: 5px !important;
	}

	.hide-on-mobile {
		display: none;
	}

	.individual-item {
		min-width: 97.8%;
		max-width: 97.8%;
		/* min-height: 210px;
		max-height: 210px; */
	}

	.individual-item-content {
		row-gap: 0.5px;
	}

	.image-container {
		width: 130px;
		height: 180px;
	}

	.control-button {
		width: 20px;
		height: 40px;
		right: 50px;
	}

	.category-button {
		display: flex;
		flex-direction: row;
		height: 25px;
		padding: 5px;
		margin-right: 5px;
	}

	.category-button span:nth-of-type(1) {
		display: flex;
		align-items: center;
		position: relative;
		bottom: -1px;
	}

	.category-button span:nth-of-type(2) {
		position: relative;
		padding-left: 35px;
		bottom: -7px;
	}

	.delete-button {
		position: absolute;
		top: 130px;
		right: 10px;
	}

	.text {
		font-size: 14px;
	}

	.rate {
		font-size: 18px;
		margin-top: 15px;
	}

	::ng-deep .delete-button .p-button-danger {
		background-color: transparent !important;
		border-color: transparent !important;
	}

	::ng-deep .delete-button .pi {
		color: red !important;
	}

	.text-on-image {
		font-size: 10px;
	}
}
