@if (isLoggedIn) { @if(statistics$ | async){ @let stats = statistics$ | async;
<div class="category-container">
	<div class="category-header-container">
		<div class="category-header-title">Categories ({{ stats.totalNumber }})</div>
		<button mat-fab extended (click)="updateAllMoviesRate()" class="control-button">
			<span class="material-icons control-button-icon">search</span>
		</button>
		<button mat-fab extended (click)="cancelSearch()" class="control-button">
			<span class="material-icons control-button-icon">search_off</span>
		</button>
		<button mat-fab extended (click)="openAddNewMovieDialog()" class="control-button">
			<span class="material-icons control-button-icon">add</span>
		</button>
	</div>
	<div class="category-button-container">
		@for (genre of stats.genre | keyvalue; track genre.key){
		<div
			matRipple
			class="category-button"
			(click)="filterByGenre($any(genre.key))"
			[ngClass]="{
				'selected-category': (selectedGenres$ | async)?.includes($any(genre.key))
			}">
			<span>{{ genre.key }}</span>
			<span
				><p class="category-count">{{ genre.value }}</p>
				<p class="hide-on-mobile">to watch</p></span
			>
		</div>
		}
	</div>
</div>
}
<div class="content-container">
	@for (movie of filteredMovieList$ | async; track movie.getMovieId()){
	<div
		class="individual-item"
		[ngClass]="{
			'very-high-rate': movie.getMovieRate() >= 9,
			'high-rate': movie.getMovieRate() >= 7.9 && movie.getMovieRate() < 9,
			'medium-rate': movie.getMovieRate() >= 7 && movie.getMovieRate() < 7.9,
			'low-rate': movie.getMovieRate() < 7
		}">
		<div
			class="image-container"
			[ngStyle]="{ backgroundImage: 'url(' + movie.getMovieCoverImageDownloadableLink() + ')' }"></div>
		<div class="individual-item-content">
			<span class="title" [style.font-size]="calculateFontSize(movie.getMovieTitle().length)">
				{{ movie.getMovieTitle() }}
			</span>
			<span class="text">类型：{{ movie.getMovieGenre() }} </span>
			<span class="text">集数：{{ movie.getMovieEpisodeNumber() }}</span>
			<span class="text">年份：{{ movie.getMovieFirstReleaseDate() }}</span>
			@if (movie.getMovieRate()){
			<span class="rate">
				{{ movie.getMovieRate().toFixed(1) }}
			</span>
			} @else {
			<span class="rate">暂无评分</span>
			}
			<button mat-icon-button class="delete-button" (click)="openDeleteConfirmationDialog(movie)">
				<span class="material-icons delete-icon">delete_forever</span>
			</button>
		</div>
	</div>
	}
</div>
<ng-container #dialogComponentContainer></ng-container>
} @else {
<div class="access-denied-container">
	<h1>Access Denied</h1>
	<p>You do not have permission to access this page.</p>
</div>
}
