@if (isLoggedIn) {
<div class="category-container">
	<h3 style="font-weight: bold">Categories</h3>
	<div class="category-button-container">
		<div>
			<button mat-button class="category-button">
				<span id="english-label">All</span>
				<span style="border: 1px solid red">所有</span>
			</button>
		</div>
		<div><button mat-button class="category-button">悬疑</button></div>
		<div><button mat-button class="category-button">刑侦</button></div>
		<div><button mat-button class="category-button">校园</button></div>
		<div><button mat-button class="category-button">现代</button></div>
		<div><button mat-button class="category-button">古装</button></div>
		<div><button mat-button class="category-button">谍战</button></div>
	</div>
</div>
<div class="control-button-container">
	<button mat-fab extended (click)="updateAllMovies()" class="control-button">
		<span class="material-icons control-button-icon">search</span>
		<span class="control-button-label hide-on-mobile">Search All Movies</span>
	</button>
	<button mat-fab extended (click)="cancelSearch()" class="control-button">
		<span class="material-icons control-button-icon">search_off</span>
		<span class="control-button-label hide-on-mobile">Cancel Search</span>
	</button>
</div>
<div class="content-container">
	<div
		class="individual-item"
		*ngFor="let movie of movieList$ | async"
		[ngClass]="{
			'very-high-rate': movie.getMovieRate() >= 9,
			'high-rate': movie.getMovieRate() >= 7.9 && movie.getMovieRate() < 9,
			'medium-rate': movie.getMovieRate() >= 7 && movie.getMovieRate() < 7.9,
			'low-rate': movie.getMovieRate() < 7
		}">
		<div
			class="image-container"
			[ngStyle]="{ backgroundImage: 'url(' + movie.getMovieCoverImageLink() + ')' }"></div>
		<div class="individual-item-content">
			<div class="contents">
				<span class="title" [style.font-size]="calculateFontSize(movie.getMovieTitle().length)">
					{{ movie.getMovieTitle() }}
				</span>
				<span class="text">类型：{{ movie.getMovieGenre() }} </span>
				<span class="text">集数：{{ movie.getMovieEpisodeNumber() }}</span>
				<span class="text">年份：{{ movie.getMovieFirstReleaseDate() }}</span>
				<ng-container *ngIf="movie.getMovieRate(); else noRate">
					<span class="rate">
						{{ movie.getMovieRate().toFixed(1) }}
					</span>
				</ng-container>
				<ng-template #noRate>
					<span class="rate">暂无评分</span>
				</ng-template>
			</div>
		</div>
	</div>
</div>
} @else {
<div class="access-denied-container">
	<h1>Access Denied</h1>
	<p>You do not have permission to access this page.</p>
</div>
}
