<mat-drawer-container class="drawer-container" hasBackdrop="false">
	<mat-drawer mode="side" opened disableClose>
		<ul style="list-style-type: none; padding-left: 0px; display: flex; flex-direction: column">
			<li>
				<span class="nav-title hide-on-mobile">Menu</span>
			</li>
			<li style="padding-top: 5px">
				<a mat-button class="nav-button" matRipple routerLink="">
					<span class="material-icons nav-icon">home</span>
					<span class="nav-label hide-on-mobile">Home</span>
				</a>
			</li>
			<li style="padding-top: 5px">
				<a mat-button class="nav-button" matRipple routerLink="/entertainment">
					<span class="material-icons nav-icon">tv</span>
					<span class="nav-label hide-on-mobile">Entertainment</span>
				</a>
			</li>
			<!-- This is a placeholder to move the signin page button to the bottom -->
			<li style="flex: 1 1 273px"></li>
			@if (currentUser$ | async; as user){
			<li class="logout-button-container">
				<p-button
					(click)="logout()"
					icon="pi pi-user"
					[rounded]="true"
					severity="warn"
					class="signin-page-button" />
				<p
					class="hide-on-mobile"
					[ngStyle]="{ position: 'relative', left: '5px', top: '18px', fontSize: '16px' }">
					{{ user.displayName ? user.displayName : '' }}
				</p>
			</li>
			} @else {
			<li class="signin-page-button-container">
				<p-button
					routerLink="/login"
					icon="pi pi-user"
					[rounded]="true"
					severity="secondary"
					class="signin-page-button" />
			</li>
			}
		</ul>
	</mat-drawer>
	<mat-drawer-content>
		<p-toast />
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
