.drawer-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

/* The max-width here is the current maximum width of the browser*/
@media (max-width: 420px) {
	.hide-on-mobile {
		display: none !important;
	}

	mat-drawer {
		width: 36px !important;
	}

	.nav-button {
		width: 35px !important;
		min-width: 0px !important;
		padding: 5px !important;
		justify-content: left !important;
	}

	.nav-icon {
		position: relative !important;
		left: 0 !important;
	}

	.logout-button-container {
		padding-left: 0px !important;
		min-width: 0px !important;
		bottom: 10px !important;
		width: 35px !important;
		justify-content: center !important;
	}

	.login-logout-button {
		margin: 0px !important;
		width: 30px !important;
		height: 30px !important;
		font-size: 20px !important;
	}
}

.nav-button {
	width: 100%;
	overflow: hidden;
	background-color: transparent !important;
	transition: box-shadow 0.3s ease;
	font-family: inherit;
	font-size: medium;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 13px;
}

.nav-button:hover {
	box-shadow: 0 1px 3px 1px black;
}

.nav-button:active {
	background-color: transparent !important;
	box-shadow: 0 1px 10px 1px black;
}

.nav-icon {
	position: relative;
	top: 5px;
	left: 20px;
}

.nav-label {
	position: relative;
	left: 55px;
}

.nav-title {
	display: block;
	padding: 10px;
	font-size: large;
}

mat-drawer {
	text-align: center;
	border-radius: 10px;
	width: 250px;
	height: 500px;
	margin: 10px;
	margin-top: 15px;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
}

mat-drawer-content {
	padding-left: 20px;
	padding-top: 15px;
}

mat-drawer-container {
	background-image: linear-gradient(
		to right,
		#d34e99,
		#c75aaf,
		#b667c3,
		#a173d3,
		#877fdf,
		#6c90ed,
		#489ff7,
		#00adfc,
		#00c3ff,
		#00d7ff,
		#09eaf9,
		#5ffbf1
	);
}

.login-logout-button {
	margin: 10px;
	transition: box-shadow 0.3s ease;
	overflow: hidden;
}

.login-logout-button:hover {
	border: 1px solid white;
}

.login-logout-button:active {
	box-shadow: 0 1px 10px 1px black;
}

.logout-button-container {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 4px;
	padding-left: 15px;
}

.login-button-container {
	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translateX(-50%);
}
