<p-dialog
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	[resizable]="false"
	styleClass="history-dialog"
	(onHide)="onDialogClosed()">
	<ng-template #header><span class="history-dialog-title">{{ HISTORY_DIALOG_TITLE }}</span></ng-template>
	<p class="history-subtitle">{{ HISTORY_SUBTITLE }}</p>
	<div class="dialog-content">
		@for(entry of entries$ | async; track entry.key){
		<div class="entry-row">
			<div
				class="icon-badge"
				[ngClass]="{
					'badge-search': entry.status === 'search',
					'badge-added': entry.status === 'added',
					'badge-deleted': entry.status === 'deleted'
				}">
				<span class="material-icons badge-icon">
					@if(entry.status === 'search'){ search }
					@else if(entry.status === 'added'){ add }
					@else if(entry.status === 'deleted'){ cancel }
				</span>
			</div>
			<p
				class="message"
				[class.message-deleted]="entry.status === 'deleted'"
				(click)="entry.status === 'deleted' ? openRestoreEntryDialog(entry) : null">
				{{ entry.message }}
			</p>
		</div>
		}
	</div>
</p-dialog>
<ng-container #dialogComponentContainer></ng-container>
