<p-dialog
	header="Opertaion Activities"
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	[resizable]="false"
	styleClass="history-dialog"
	(onHide)="onDialogClosed()">
	<div class="dialog-content">
		<p-divider style="margin: 0px" />
		@for(entry of entries$ | async; track entry.key){
		<div class="container">
			<div
				class="message-container"
				[style.border]="setBackgroundColor(entry.status)"
				[style.cursor]="entry.status === 'deleted' ? 'pointer' : ''"
				[style.padding-left]="entry.status === 'search' ? '8px' : '5px'">
				<span class="material-icons icon">
					@if(entry.status === 'search'){ search } @else if(entry.status === 'added'){ add
					} @else if(entry.status === 'deleted'){ cancel }
				</span>
				<p class="message">{{ entry.message }}</p>
			</div>
		</div>
		<p-divider style="margin: 0px" />
		}
	</div>
</p-dialog>
