.container {
	min-width: 100%;
	min-height: 100%;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
	border-radius: 10px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	grid-auto-rows: min-content;
}

::ng-deep .first-table table {
	height: 373px;
}

.skeleton-row {
	height: 50px; /*↑ increases row height*/
}

.table-wrapper {
	border-radius: 10px;
	overflow: hidden;
}

.header {
	text-align: center;
}

.toggle-wrapper {
	display: flex;
	align-items: center;
	padding-top: 15px;
}

.toggle-label {
	font-size: 14px;
}

::ng-deep .toggle.p-toggleswitch {
	margin-top: 2px;
	transform: scale(0.65); /* 1 = default */
}

.header-main {
	padding-top: 20px;
	padding-left: 15px;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.header-wrapper {
	position: relative;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* remove td/th padding */
.first-table th,
.first-table td {
	padding: 5px !important;
}

.first-table th {
	border-top: 1px solid #dee2e6;
	padding-top: 12px !important;
}

.first-table-input {
	font-weight: bold;
	padding-right: 3px;
	padding-left: 10px;
}

::ng-deep .reset-button {
	width: 100%;
}

.disabled-cell {
	background-color: #f3f4f6;
}

@media (max-width: 2040px) {
	.container {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	.second-table-cell {
		padding: 5px 5px 14px 5px !important;
	}
}

@media (max-width: 1200px) {
	.second-table {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media (max-width: 840px) {
	h4 {
		font-size: 18px;
	}

	.toggle.p-toggleswitch {
		transform: scale(0.55); /* 1 = default */
	}

	.toggle-label {
		font-size: 13px !important;
	}

	.header {
		font-size: 14px;
	}

	/* remove td/th padding */
	.first-table th,
	.first-table td {
		margin: 0 !important;
	}

	.first-table-button {
		flex: 0 0 21px !important;
		min-width: 25px !important;
	}

	::ng-deep .first-table-button .p-button .p-button-icon {
		font-size: 14px; /* 👈 control icon size here */
	}

	.second-table {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	.third-table {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	.save-indicator-first-table,
	.save-indicator {
		display: flex;
	}

	.save-indicator-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px !important;
        position: relative;
		bottom: 2px;
	}

	.save-indicator-text {
		font-size: 15px !important;
	}
}

.second-table,
.third-table-wrapper {
	border-top: 1px solid #dee2e6;
	background-color: white;
}

.second-table,
.third-table {
	padding-left: 5px;
	padding-right: 5px;
	display: grid;
	overflow: hidden;
	height: fit-content;
}

.second-table {
	grid-template-columns: repeat(4, 1fr);
	padding-top: 0px;
}

.third-table {
	grid-template-columns: repeat(2, 1fr);
}

.second-table-cell-header {
	text-align: center;
	padding-top: 10px;
}

.second-table-cell {
	height: fit-content;
	padding: 10px 5px 20px 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.second-table-checkbox {
	padding-top: 5px;
	display: flex;
	gap: 10px;
}

.third-table-cell {
	padding: 5px;
	height: 53px;
}

::ng-deep .p-popover-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.popover-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.popover-inputgroup {
	height: 30px;
	width: 300px;
}

.popover-label {
	font-size: 14px;
}

::ng-deep .datapicker input {
	font-size: 14px;
}

::ng-deep .submit-button .p-button {
	font-size: 14px;
	margin-top: 10px;
	width: 100%;
	height: 30px;
}

::ng-deep .submit-button .p-button .p-button-icon {
	font-size: 14px;
}

.paginator {
	padding: 5px;
}

.save-indicator-first-table,
.save-indicator {
	padding-top: 3px;
	padding-left: 5px;
}

.save-indicator-icon {
	font-size: 18px;
}

.save-indicator-text {
	font-size: 19px;
	margin-left: 5px;
}
