<div class="container">
	<p-table [value]="updatedFirstTable" [loading]="loading" [showLoader]="false" class="first-table">
		<ng-template pTemplate="header">
			<tr>
				<th class="header">First</th>
				<th class="header">Second</th>
				<th class="header">Third</th>
				<th class="header">Fourth</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody">
			@for(_ of [0,1,2,3,4];track $index){
			<tr>
				<td class="skeleton-row"><p-skeleton /></td>
				<td class="skeleton-row"><p-skeleton /></td>
				<td class="skeleton-row"><p-skeleton /></td>
				<td class="skeleton-row"><p-skeleton /></td>
			</tr>
			}
		</ng-template>
		<ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
			<tr>
				@for(field of fields; let index = $index; track field){
				<td>
					<p-inputgroup>
						<input
							pInputText
							type="text"
							inputmode="numeric"
							[(ngModel)]="row[field].value"
							[disabled]="isDisabled(rowIndex, field)"
							[class.disabled-cell]="isDisabled(rowIndex, field)"
							class="first-table-input"
							[style]="row[field].isCharged ? 'color: orange; ' : ''"
							(keydown)="onNumberChange($event)"
							(blur)="onValueChange(rowIndex, field)"
							(keyup.enter)="onValueChange(rowIndex, field)" />
						<p-inputgroup-addon class="first-table-button"
							><p-button
								icon="pi pi-check"
								severity="secondary"
								[disabled]="isDisabled(rowIndex, field)"
								(onClick)="setIsCharged(rowIndex, field)"></p-button
						></p-inputgroup-addon>
					</p-inputgroup>
				</td>
				}
			</tr>
		</ng-template>
		<ng-template pTemplate="footer">
			<tr>
				<td colspan="4" class="reset">
					<p-button
						styleClass="reset-button"
						label="Reset"
						icon="pi pi-undo"
						[severity]="'secondary'"
						(onClick)="openConfirmationDialog()">
					</p-button>
				</td>
			</tr>
		</ng-template>
	</p-table>
	<div class="second-table">
		@if(loading){ @for (_ of [0,1,2,3,4,5,6,7]; track $index) {
		<div class="second-table-cell">
			<p-skeleton height="25px" />
			<p-skeleton height="50px" />
			<p-skeleton height="50px" />
			<p-skeleton height="25px" />
		</div>
		} } @else { @for(item of updatedSecondTable; let index = $index; track item.key){
		<div class="second-table-cell">
			<div class="second-table-header">{{ item.key }}</div>
			<p-inputgroup>
				<p-inputgroup-addon>
					<i class="pi pi-dollar" style="color: black; font-weight: bold"></i
				></p-inputgroup-addon>
				<p-inputnumber
					mode="decimal"
					locale="en-US"
					[minFractionDigits]="2"
					[maxFractionDigits]="2"
					[step]="0.01"
					[(ngModel)]="item.content.debt"
					(onBlur)="updateTable(SECOND_TABLE, index, 'debt')"
					(keyup.enter)="updateTable(SECOND_TABLE, index, 'debt')" />
				<p-inputgroup-addon
					><p-button
						icon="pi pi-minus"
						severity="secondary"
						(onClick)="updateDebt(index)"
						pTooltip="Decrement by 998.05"
						tooltipPosition="top"></p-button
				></p-inputgroup-addon>
			</p-inputgroup>
			<p-inputgroup>
				<p-datepicker
					class="second-table-date"
					[appendTo]="'body'"
					dateFormat="yy-mm-dd"
					[(ngModel)]="item.content.date"
					(keydown)="preventKeyin($event)"
					[disabled]="!item.content.paid"
					(onSelect)="updateTableWithNewDate(SECOND_TABLE, index, $event, item)" />
				<p-inputgroup-addon
					><p-button
						[icon]="item.content.paid ? 'pi pi-check' : 'pi pi-replay'"
						severity="secondary"
						[pTooltip]="item.content.paid ? 'Set default debt' : 'Reset debt to default'"
						tooltipPosition="top"
						(onClick)="setDefaultDebt(index)"></p-button
				></p-inputgroup-addon>
			</p-inputgroup>
			<div class="second-table-checkbox">
				<p-checkbox
					[inputId]="item.key"
					[(ngModel)]="item.content.paid"
					[binary]="true"
					(onChange)="updateTable(SECOND_TABLE, index, 'paid')" />
				<label [for]="item.key" [style]="item.content.paid ? 'color:green' : 'color:red'">{{
					item.content.paid ? 'Paid' : 'Not yet paid ($' + item.content.original + ')'
				}}</label>
			</div>
		</div>
		} }
	</div>
	<div class="third-table">
		@for(item of updatedThirdTable; let index = $index; track index){
		<p-inputgroup class="third-table-cell">
			<input
				type="text"
				pInputText
				[(ngModel)]="item.content"
				fluid
				(blur)="updateTable(THIRD_TABLE, index, 'content')"
				(keyup.enter)="updateTable(THIRD_TABLE, index, 'content')" />
			@if(item.date){
			<p-inputgroup-addon>
				<i
					class="pi pi-clock"
					[style]="{
						'color': 'black'
					}"
					[pTooltip]="item.date"
					tooltipPosition="top"></i>
			</p-inputgroup-addon>
			} @if(item.link){
			<p-inputgroup-addon
				><a [href]="item.link" target="_blank" rel="noopener noreferrer"
					><i class="pi pi-link" style="color: black"></i></a
			></p-inputgroup-addon>
			}

			<p-inputgroup-addon>
				<p-button icon="pi pi-pencil" severity="secondary" (onClick)="op.toggle($event)"> </p-button>
				<p-popover #op>
					<p-inputgroup>
						<input type="text" pInputText [(ngModel)]="item.link" />
						<p-inputgroup-addon>
							<p-button icon="pi pi-check" severity="secondary" (onClick)="op.toggle($event)">
							</p-button>
						</p-inputgroup-addon>
					</p-inputgroup>
					<p-inputgroup>
						<p-datepicker
							#datepicker
							[appendTo]="'body'"
							dateFormat="yy-mm-dd"
							[(ngModel)]="item.date"
							class="show-only-icon"
							(onSelect)="updateTableWithNewDate(THIRD_TABLE, index, $event, item)">
						</p-datepicker>
					</p-inputgroup>
				</p-popover>
			</p-inputgroup-addon>
		</p-inputgroup>
		}
	</div>
</div>
<ng-container #dialogComponentContainer></ng-container>
