<div class="container">
	<p-table [value]="updatedFirstTable" [loading]="loading" [showLoader]="false" class="first-table">
		<ng-template pTemplate="header">
			<tr>
				<th class="header">First</th>
				<th class="header">Second</th>
				<th class="header">Third</th>
				<th class="header">Fourth</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody">
			@for(_ of [0,1,2,3,4];track $index){
			<tr>
				<td class="skeleton-row"><p-skeleton /></td>
				<td class="skeleton-row"><p-skeleton /></td>
				<td class="skeleton-row"><p-skeleton /></td>
				<td class="skeleton-row"><p-skeleton /></td>
			</tr>
			}
		</ng-template>
		<ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
			<tr>
				<td class="data">
					<input
						pInputText
						type="text"
						inputmode="numeric"
						[(ngModel)]="row.first"
						[disabled]="isDisabled(rowIndex, this.fields[0])"
						[class.disabled-cell]="isDisabled(rowIndex, this.fields[0])"
						class="input"
						(keydown)="onNumberChange($event)"
						(blur)="onValueChange(rowIndex, this.fields[0])"
						(keyup.enter)="onValueChange(rowIndex, this.fields[0])" />
				</td>
				<td class="data">
					<input
						pInputText
						type="text"
						inputmode="numeric"
						[(ngModel)]="row.second"
						[disabled]="isDisabled(rowIndex, this.fields[1])"
						[class.disabled-cell]="isDisabled(rowIndex, this.fields[1])"
						class="input"
						(keydown)="onNumberChange($event)"
						(blur)="onValueChange(rowIndex, this.fields[1])"
						(keyup.enter)="onValueChange(rowIndex, this.fields[1])" />
				</td>
				<td class="data">
					<input
						pInputText
						type="text"
						inputmode="numeric"
						[(ngModel)]="row.third"
						[disabled]="isDisabled(rowIndex, this.fields[2])"
						[class.disabled-cell]="isDisabled(rowIndex, this.fields[2])"
						class="input"
						(keydown)="onNumberChange($event)"
						(blur)="onValueChange(rowIndex, this.fields[2])"
						(keyup.enter)="onValueChange(rowIndex, this.fields[2])" />
				</td>
				<td class="data">
					<input
						pInputText
						type="text"
						inputmode="numeric"
						[(ngModel)]="row.fourth"
						[disabled]="isDisabled(rowIndex, this.fields[3])"
						[class.disabled-cell]="isDisabled(rowIndex, this.fields[3])"
						class="input"
						(keydown)="onNumberChange($event)"
						(blur)="onValueChange(rowIndex, this.fields[3])"
						(keyup.enter)="onValueChange(rowIndex, this.fields[3])" />
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="footer">
			<tr>
				<td colspan="4" class="reset">
					<p-button
						styleClass="button"
						label="Reset"
						icon="pi pi-undo"
						[severity]="'secondary'"
						(onClick)="resetFirstTable()">
					</p-button>
				</td>
			</tr>
		</ng-template>
	</p-table>
	<div class="second-table">
		@for(item of updatedSecondTable; let index = $index; track item.key){
		<div class="second-table-cell">
			<div class="second-table-header">{{ item.key }}</div>
			<p-inputgroup>
				<p-inputgroup-addon>
					<i class="pi pi-dollar" style="color: black; font-weight: bold"></i
				></p-inputgroup-addon>
				<p-inputnumber
					mode="decimal"
					locale="en-US"
					[minFractionDigits]="2"
					[maxFractionDigits]="2"
					[step]="0.01"
					[(ngModel)]="item.value.debt"
					(onBlur)="updateSecondTable(index, 'debt')"
					(keyup.enter)="updateSecondTable(index, 'debt')" />
				<p-inputgroup-addon
					><p-button
						icon="pi pi-minus"
						severity="secondary"
						(onClick)="updateDebt(index)"
						pTooltip="Decrement by 998.05"
						tooltipPosition="top"></p-button
				></p-inputgroup-addon>
			</p-inputgroup>
			<p-inputgroup>
				<p-datepicker
					class="second-table-date"
					[appendTo]="'body'"
					dateFormat="yy-mm-dd"
					[(ngModel)]="item.value.date"
					(keydown)="preventKeyin($event)"
					[disabled]="!item.value.paid"
					(onSelect)="updateSecondTableWithNewDate(index, $event, item)" />
				<p-inputgroup-addon
					><p-button
						[icon]="item.value.paid ? 'pi pi-check' : 'pi pi-replay'"
						severity="secondary"
						[pTooltip]="item.value.paid ? 'Set default debt' : 'Reset debt to default'"
						tooltipPosition="top"
						(onClick)="setDefaultDebt(index)"></p-button
				></p-inputgroup-addon>
			</p-inputgroup>
			<div class="second-table-checkbox">
				<p-checkbox
					[inputId]="item.key"
					[(ngModel)]="item.value.paid"
					[binary]="true"
					(onChange)="updateSecondTable(index, 'paid')" />
				<label [for]="item.key" [style]="item.value.paid ? 'color:green' : 'color:red'">{{
					item.value.paid ? 'Paid' : 'Not yet paid ($' + item.value.original + ')'
				}}</label>
			</div>
		</div>
		}
	</div>
	<div class="third-table">
		@for(item of updatedThirdTable; let index = $index; track index){
		<p-inputgroup class="third-table-cell">
			<input type="text" pInputText [(ngModel)]="item.content" fluid />
			@if(item.date){
			<p-inputgroup-addon
				><i class="pi pi-clock" style="color: black" [pTooltip]="item.date" tooltipPosition="top"></i
			></p-inputgroup-addon>
			} @if(item.link){
			<p-inputgroup-addon
				><p-button icon="pi pi-external-link" severity="secondary"></p-button
			></p-inputgroup-addon>
			}
		</p-inputgroup>
		}
	</div>
</div>
