.container {
	min-width: 100%;
	min-height: 100%;
	backdrop-filter: blur(50px);
	background-color: rgb(243, 227, 243);
	border: 0.8px solid rgb(255, 255, 255);
	box-shadow: 0 0 15px rgb(238, 240, 243);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

::ng-deep .first-table table {
	border-radius: 10px;
	overflow: hidden;
}

.skeleton-row {
	height: 57px; /*↑ increases row height*/
}

.header {
	text-align: center;
}

.input {
	min-width: 50px;
	max-width: 150px;
}

::ng-deep .p-datatable .data {
	text-align: center;
}

/* remove td/th padding */
.first-table th,
.first-table td {
	padding: 5px !important;
}

.first-table th {
	padding-top: 12px !important;
}

::ng-deep .button {
	width: 100%;
}

.disabled-cell {
	border: 3px solid #09d825;
	background-color: #f3f4f6;
}

@media (max-width: 1200px) {
	.second-table {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media (max-width: 680px) {
	.header {
		font-size: 14px;
	}

	::ng-deep .p-datatable .input {
		width: 50px;
	}

	/* remove td/th padding */
	.first-table th,
	.first-table td {
		margin: 0 !important;
	}

	.second-table {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}

.second-table {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
}

.second-table-header {
	text-align: center;
	padding-top: 10px;
}

.second-table-cell {
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

:host ::ng-deep .p-datepicker input {
	width: 100%;
}

.second-table-checkbox {
	padding-top: 5px;
	display: flex;
	gap: 10px;
}
