::ng-deep .add-dialog {
	width: 500px;
	height: 425px;
	user-select: none;
	// When adding & in the front, it targets img inside .add-dialog. Without &, it tagets all img (not just .add-dialog).
	img {
		pointer-events: none;
	}
}

.form-grid {
	display: grid;
	grid-template-columns: 40px 180px; /* first col = labels, second col = inputs */
	gap: 1rem 1.5rem; /* row gap and column gap */
	align-items: center; /* vertical alignment */
	margin-left: 10px;
}

.form-row {
	display: contents; /* let children span grid directly */
}

.form-grid label {
	text-align: center;
}

.favourite {
	display: flex;
	gap: 10px;
	align-items: center;
}

.dialog-title {
	display: flex;
	justify-content: center;
	font-size: 18px;
	margin-bottom: 1rem;
}

.loading-overlay {
	margin-top: 10px;
	margin-bottom: -5px;
}

.form-image-container {
	display: flex;
	gap: 1.7rem;
}

.image-container {
	width: 165px;
	height: 255px;

	/* Stretch the image to the container */
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

::ng-deep .submit-button .p-button {
	background-color: black !important;
	border-color: black !important;
	color: white !important;
}

.custom-font {
	font-family: 'cf';
}

::ng-deep .dropdown-panel-font {
	font-family: 'cf';
}

::ng-deep .add-dialog .p-dialog-footer {
	position: absolute;
	left: 110px;
	bottom: -5px;
}

@media (max-width: 580px) {
	::ng-deep .add-dialog {
		min-width: 100% !important;
		min-height: 100% !important;
		border-radius: 0px !important;
	}

	::ng-deep .add-dialog .p-dialog-footer {
		position: relative;
		left: 0px;
		top: 0px;
	}
}
