<!-- Error dialog when searching-->
<p-confirmdialog styleClass="error-dialog" [closable]="false"></p-confirmdialog>
<p-dialog
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	[resizable]="false"
	[closable]="false"
	(onHide)="onDialogClosed()"
	styleClass="add-dialog">
	<!-- #header -->
	<span class="dialog-title">Enter either Name or ID to start searching</span>
	<div class="form-image-container">
		<form id="addMovieForm" #addMovieForm="ngForm" (ngSubmit)="onSubmit()" class="form-grid">
			<div class="form-row">
				<label for="movieName">{{ movieName.value || year.value ? 'Name*' : 'Name' }}</label>
				<input
					pInputText
					name="movieName"
					id="movieName"
					ngModel
					#movieName="ngModel"
					[disabled]="id.value !== ''"
					autocomplete="off"
					class="custom-font"
					[required]="movieName.value || year.value" />
			</div>
			<div class="form-row">
				<label for="years">{{ movieName.value || year.value ? 'Year*' : 'Year' }}</label>
				<!-- name is used to register control inside ngForm, used to track its value, validation status, errors etc. -->
				<!-- id is used to link a <label> to the input -->
				<!-- for inside <label> uses id to focus on the input when clicked -->
				<!-- optionLabel tells which property(element) in [options] to display in the dropdown -->
				<!-- ngModel is used to register the current field to the form -->
				<!-- [ngModel]="movieName" is used to bind the value of the current field to a variable in the ts file -->
				<!-- #movieName="ngModel" is used to create a local variable that references the ngModel directive so that we can access control state (value, validation status, errors etc.) for this specific control -->
				<!-- When each field is first initialized, addMovieForm.value.movieName is undefined. Evaluates to false.-->
				<!-- When each field is empty, addMovieForm.value.movieName is empty string. Evaluates to false.-->
				<!-- If an input field has value in it and then being disabled, the value is still there but the field will be removed from ngForm, meaning accessing through ngForm will give become undefined -->
				<p-select
					[options]="years"
					name="years"
					id="years"
					optionLabel="year"
					optionValue="year"
					[appendTo]="'body'"
					ngModel
					#year="ngModel"
					[disabled]="id.value !== ''"
					class="custom-font"
					panelStyleClass="dropdown-panel-font"
					[required]="movieName.value || year.value"></p-select>
			</div>
			<div class="form-row">
				<label for="id">{{ id.value ? 'ID*' : 'ID' }}</label>
				<input
					pInputText
					name="id"
					id="id"
					ngModel
					#id="ngModel"
					(ngModelChange)="onIdChange($event)"
					[required]="!!id.value"
					autocomplete="off" />
			</div>
			<div class="form-row">
				<label for="genres">Genre*</label>
				<p-select
					[options]="genres"
					name="genres"
					id="genres"
					ngModel
					optionLabel="genre"
					[appendTo]="'body'"
					class="custom-font"
					panelStyleClass="dropdown-panel-font"
					required></p-select>
			</div>
		</form>
		<div class="image-container" [ngStyle]="{ backgroundImage: 'url(' + movieImageUrl + ')' }"></div>
	</div>
	<!-- progress bar inside the dialog when loading -->
	@if (isLoading) {
	<div class="loading-overlay">
		<p-progressbar mode="indeterminate" [style]="{ height: '8px' }" />
	</div>
	}
	<!-- #footer -->
	<ng-template #footer>
		<p-button
			label="Search"
			type="button"
			severity="primary"
			[attr.form]="'addMovieForm'"
			[disabled]="addMovieForm.invalid"
			(click)="searchCurrentMovie(addMovieForm.value)" />
		<p-button label="Cancel" type="button" severity="secondary" (click)="onDialogClosed()" />
		<p-button
			label="Submit"
			type="submit"
			class="submit-button"
			[disabled]="!canSubmit"
			(click)="addMovieForm.ngSubmit.emit()"></p-button>
	</ng-template>
</p-dialog>
