/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'primeicons/primeicons.css';
/* @import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined'; */

body {
	font-family: 'nlf';
}

@font-face {
	font-family: 'cf';
	src: url('./assets/chinese-font.ttf');
}

@font-face {
	font-family: 'nlf';
	src: url('./assets/number-letter-font.ttf');
}

button,
.mat-button,
.mat-icon {
	color: black !important;
}
