<p-dialog
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	[resizable]="false"
	[closable]="false"
	styleClass="search-dialog"
	(onHide)="onDialogClosed()">
	<ng-template #header><span class="search-dialog-title">{{ ENT_DIALOG_TITLE_SEARCH }}</span></ng-template>
	<div class="logs" #logContainer>
		@for (searchLog of searchLogs; track $index) {
		<div [innerHTML]="searchLog"></div>
		}
	</div>
	<ng-template #footer>
		<button
			type="button"
			class="search-dialog-button"
			[class.is-done]="searchCompleteOrInterrupted"
			(click)="searchCompleteOrInterrupted ? onDialogClosed() : triggerStopSearching()">
			{{ searchCompleteOrInterrupted ? ENT_BTN_DONE : ENT_BTN_STOP }}
		</button> </ng-template
></p-dialog>
