::ng-deep .dialog {
	width: 470px;
	height: 350px;
	user-select: none;
}

.logs {
	height: 210px;
	overflow: auto;
	border: 2px solid black;
    white-space: pre-line;
	/* overflow-y: auto; */
}

::ng-deep .dialog .p-dialog-footer {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

::ng-deep .rate-up {
	color: red !important;
}

::ng-deep .rate-down {
	color: green !important;
}

@media (max-width: 580px) {
	::ng-deep .dialog {
		min-width: 100% !important;
		min-height: 100% !important;
		border-radius: 0px !important;
	}

	.logs {
		height: 66vh;
	}
}
