<p-dialog
	[(visible)]="visible"
	[modal]="true"
	[appendTo]="'body'"
	[resizable]="false"
	[closable]="false"
	styleClass="dialog"
	(onHide)="onDialogClosed()">
	<ng-template #header><span class="dialog-title">{{ ENT_DIALOG_TITLE_SEARCH }}</span></ng-template>
	<div class="logs" #logContainer>
		@for (searchLog of searchLogs; track $index) {
		<div [innerHTML]="searchLog"></div>
		}
	</div>
	<ng-template #footer>
		<p-button
			[label]="searchCompleteOrInterrupted ? 'DONE' : 'STOP'"
			type="button"
			class="submit-button"
			[severity]="searchCompleteOrInterrupted ? 'success' : 'danger'"
			(click)="
				searchCompleteOrInterrupted ? onDialogClosed() : triggerStopSearching()
			"></p-button> </ng-template
></p-dialog>
