.container {
	display: flex;
	flex-direction: column;
}

.word-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.title {
	text-align: center;
	font-size: 60px;
	margin-top: 20%;
	margin-bottom: 15%;
}

.word {
	font-family: 'cf';
	text-align: center;
}

.en-word {
	text-align: center;
}

@media (max-width: 580px) {
	.title {
		font-size: 37px;
	}

	.en-word {
		font-size: 20px;
	}

	.word {
		font-size: 17px;
	}
}
