<div class="container">
	<div class="word-container">
		<div>
			<h1 class="title">VISION CANVAS</h1>
		</div>
		<div>
			<h2 class="en-word">Yesterday is a history</h2>
			<h2 class="word">往日已成历史</h2>
		</div>
		<div>
			<h2 class="en-word">Tomorrow is a mystery</h2>
			<h2 class="word">未来犹未可知</h2>
		</div>
		<div>
			<h2 class="en-word">Only today is a present</h2>
			<h2 class="word">唯有今日是最珍贵的礼物🎁</h2>
		</div>
		<div></div>
		<div>
			<h5 class="word">昨天发生的已然发生，明日可能发生的还未可知，唯有今日才是自己决定的实时演出</h5>
		</div>
	</div>
</div>
